Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  -misc-unused-parameters,
  -misc-include-cleaner,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-else-after-return,
  -readability-convert-member-functions-to-static
WarningsAsErrors: '*'
FormatStyle: none
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: readability-function-cognitive-complexity.Threshold
    value: 30
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false
