[submodule "Universal_Robots_Client_Library"]
	path = Universal_Robots_Client_Library
	url = https://github.com/UniversalRobots/Universal_Robots_Client_Library.git
[submodule "trajectories"]
	path = trajectories
	url = https://github.com/tobiaskunz/trajectories.git
