# see https://github.com/viamrobotics/upload-module for help
name: Publish Module

on:
    push:
    release:
      types: [published]

jobs:
    publish:
        runs-on: ${{matrix.runner}}
        container: ghcr.io/viam-modules/universal-robots:${{ matrix.arch }}
        strategy:
            matrix:
                include:
                - arch: amd64
                  runner: ubuntu-latest
                  arch2: x86_64
                - arch: arm64
                  runner: buildjet-4vcpu-ubuntu-2204-arm
                  arch2: aarch64
                arch: [amd64, arm64]
        steps:
            - uses: actions/checkout@v4
              with:
                submodules: 'true'
            - name: build
              run: |
                make appimage-${{ matrix.arch }}
                ARCH=${{ matrix.arch2 }} make module.tar.gz
            - uses: viamrobotics/upload-module@v1
              with:
                module-path: module.tar.gz
                platform: linux/${{ matrix.arch }}
                version: ${{ github.ref_name }}
                key-id: ${{ secrets.viam_key_id }}
                key-value: ${{ secrets.viam_key_value }}
                do-update: ${{ github.event_name == 'release' }}
                do-upload: ${{ github.event_name == 'release' }}
